<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blockchain Client</title>

    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/DataTables/css/datatables.min.css">
    <link rel="stylesheet" href="/static/vendor/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">Blockchain Client</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Wallet Generator</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/rigester/img" class="nav-link">Register Transaction</a>
                    </li>
                    <li class="nav-item">
                        <a href="/view/transactions" class="nav-link">View Transactions</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="card-body">
                    <h4 class="card-title">Wallet Generator</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <label class="col-sm-2">Owner ID:</label>
            <div class="col-sm-10">
                <input type="text" id="owner_id" class="form-control" placeholder="Enter Owner ID">
            </div>
        </div>                 

        <br>

        <div class="row">
            <label class="col-sm-2">Upload Image:</label>
            <div class="col-sm-10">
                <input type="file" id="image_upload" class="form-control" accept="image/*">
            </div>
        </div>        

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <p class="card-text m-0 mr-3">Click on the button below to register your image to the blockchain</p>
                        <input type="button" id="register_image" class="btn btn-primary btn-lg" value="Register an Image">
                    </div>
                </div>
            </div>
        </div>
        
        <br>

        <div class="row">
            <label class="col-sm-2">Image Hash:</label>
            <div class="col-sm-10">
              <textarea id="image_hash" rows="5" class="form-control" readonly></textarea>
            </div>
          </div>
  
          <br>
  
        <div class="row">
            <label class="col-sm-2">Features Hash Key:</label>
            <div class="col-sm-10">
              <textarea id="features_hash" rows="5" class="form-control" readonly></textarea>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-12 text-center">
                <input type="button" name="generate_transaction" id="generate_transaction" class="btn btn-primary btn-lg" value="Generate Transaction">
            </div>
        </div>
        <br>
    </div>

    <!-- Modal -->
    <div class="modal modal-alert fade" id="basic_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
  
          <div class="modal-content">
  
            <div class="modal-header">
              <div class="modal-title col-md-10">Confirm registaring details, enter a blockchain node url and click on "Confirm Transaction" to finalize your transaction.</div>
              <button type="button" class="close col-md-2" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
  
            <div class="modal-body">
  
              <form id="confirmation_transaction_form">
  
                  <div class="row">
                    <label class="col-sm-12">Owner ID::</label>
                    <div class="col-sm-12">
                      <input type="text" name="confirmation_sender_public_key" id="confirmation_sender_public_key" rows="2" class="form-control" readonly>
  
                    </div>
                  </div>
  
                  <div class="row">
                    <label class="col-sm-12">Image Hash:</label>
                    <div class="col-sm-12">
                      <input type="text" name="confirmation_image_hash" id="confirmation_image_hash" rows="2" class="form-control" readonly>
                    </div>
                  </div>
  
                  <div class="row">
                    <label class="col-sm-12">Features Hash Key:</label>
                    <div class="col-sm-12">
                      <input type="text" name="confirmation_features_hash" id="confirmation_features_hash" rows="2" class="form-control" readonly>
                    </div>
                  </div>
                  <!-- 
                  <div class="row">
                    <label class="col-sm-12">Transaction Signature:</label>
                    <div class="col-sm-12">
                      <input type="text" name="transaction_signature" id="transaction_signature" rows="2" class="form-control" readonly>
                    </div>
                  </div>
                    -->
                </form>
  
  
              <div class="row">
                <label class="col-sm-12">Blockchain Node URL:</label>
                <div class="col-sm-12">
                  <input type="text" name="node_url" id="node_url" rows="2" class="form-control" value="http://127.0.0.1:5001">
                </div>
              </div>
  
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              <button type="button" id="button_confirm_transaction" class="btn btn-success">Confirm Transaction</button>
            </div>
  
          </div>
  
        </div>
      </div>
  
  
      <!-- Alert Message for successful transaction -->
      <div class="modal modal-alert fade" id="success_transaction_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
  
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
  
            <div class="modal-body">
              <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Successful Transaction!</h4>
                <p>You successfully completed your transaction. It will be added to the next block.</p>
              </div>
            </div>
  
            <div class="modal-footer">
              <button type="button" id="confirm_transaction" class="btn btn-success" data-dismiss="modal">OK</button>
            </div>
  
          </div>
        </div>
      </div>  
    </div>

    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>


    <script>
        $(function() {
            $('#register_image').click(function() {
                var owner_id = $('#owner_id').val();
                var image_file = $('#image_upload').prop('files')[0];
                var form_data = new FormData();
                form_data.append('owner_id', owner_id);
                form_data.append('image', image_file);
        
                $.ajax({
                    url: '/register_image',
                    type: 'POST',
                    data: form_data,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        document.getElementById("image_hash").innerHTML = response['image_hash'];
                        document.getElementById("features_hash").innerHTML = response['features_hash'];
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        
            $('#generate_transaction').click(function(e) {
                var owner_id = $('#owner_id').val();
                var image_hash = $('#image_hash').val();
                var features_hash = $('#features_hash').val();
                e.preventDefault(); // Prevent default form submission
                $('#basic_modal').modal('show');
                        document.getElementById("confirmation_image_hash").value = image_hash;
                        document.getElementById("confirmation_features_hash").value = features_hash;
                        document.getElementById("confirmation_sender_public_key").value = owner_id;
                        $('#button_confirm_transaction').click(function(e) {
                            $('#basic_modal').modal('hide');
                            $('#success_transaction_modal').modal('show');
                        })
            });

            $('#button_confirm_transaction').click(function(e) {
                $('#basic_modal').modal('hide');
                const image_hash    = document.getElementById("confirmation_image_hash").value;
                const features_hash = document.getElementById("confirmation_features_hash").value;
                const owner_id      = document.getElementById("confirmation_sender_public_key").value;
                $.ajax({
                    url: 'http://127.0.0.1:5001/transactions/new',
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: JSON.stringify({image_hash: image_hash,
                        features_hash: features_hash,
                        owner_id: owner_id,
                        node_url: document.getElementById("node_url").value
                    }),
                    success: function(response) {
                        $('#success_transaction_modal').modal('show');
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            })
        });
    </script>

</body>
</html>
